<%- include('./partials/header.ejs')%>
<%- include('./partials/navbar.ejs')%>
<div class="contact">
    <div class="cont">
        <h2>Phone No: 9140117963</h2>
        <h2>Gmail: brijesh24.bk@gmail.com</h2>
    </div>
</div>
<%- include('./partials/footer.ejs')%>