<%- include('./partials/header.ejs')%>
<%- include('./partials/navbar.ejs')%>
<div class="home">
    <div class="first">
        <div class="health"><h1>HEALTH CENTER</h1></div>
    </div>
    <div class="second">
        <img src="images/health.jpg" alt="not found" class="src">
    </div>
</div>
<%- include('./partials/footer.ejs')%>